 /* details css  */

/*detail nav*/
.d-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f1f1f1;
    position: sticky;
    position: -webkit-sticky;
    padding-right: 5px;
  }
  .d-logo {
    padding-left: 100px;
  }
  .d-logo h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  .d-logo h1:before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: lightgray;
    left: 60px;
    top: 50%;
    position: absolute;
  }
  .d-logo  h1:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: lightgray;
    right: 67%;
    top: 50%;
    position: absolute;
  }
  .d-row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Style the navigation bar links */
  .d-menu {
    display: flex;
    align-items: flex-end;
    gap: 1em;
    color: black;
    padding-right: 100px;
  }
  .d-menu a {
    float: right;
    color: grey;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .d-menu li:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .d-menu a.d-active {
    color: black;
    font-weight: bold;
  }

  .d-category{
    display: flex;
    margin-bottom: 15px;
  }
  .d-category .d-opt1{
    padding-left: 20px;
  }
  .d-category #d-circle{
    margin-top: 2px;
  }
  .d-category #d-circleactive{
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-top: 2px;
    border: 1px solid gray;
    background-color: skyblue;
  }
  #d-circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid gray;
    /* background: rgb(55, 143, 231); */
 }

 .d-row {
    margin-left: 20px;
    margin-right: 20px;
  }

 .d-leftcolumn {
    float: left;
    width: 25%;
    /* padding-left: 20px; */
  }
  @media screen and (max-width: 992px) {
    .d-leftcolumn {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .d-card {
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }

 .d-detailrightcolumn {
    background-color: white;
    margin-left: 5px;
    float: right;
    width: 74%;
   }
   @media screen and (max-width: 992px) {
    .d-detailrightcolumn {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
   .d-detailrightcolumn .d-detailcard {
    background-color: white;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 50px;
 }
 .d-detailtitle{
    text-align: left;
    margin-bottom: 0px;
    /* padding: 10px; */
 }
 .d-latestpostdetail {
    display: flex;
    align-items: center;
    /* padding-left: 10px; */
    margin-top: 0px;
 }
 #d-Leadership{
    background-color: darkblue;
    margin-left: 5px;
    padding:5px;
    color: white;
 }
 .d-nextblogdetail{
    background-color: gray;

 }
 .d-relatedblog{
    display: flex;
    padding: 10px; 
    background-color: #f1f1f1;   
 }
 .d-detaildata{
    padding-right: 200px;
 }
 .d-nextdetailimg{
    padding-top: 20px;
 }
 .d-nextdetailinfo{
    padding-left: 20px;
    padding-right: 20px;

 }

 .d-relatedblogcolumn {
    /* float: right; */
    width: 50%;
    padding: 0 10px;
    margin-left: 49%;
  }
  .d-relatedblogcolumn::after{
    content: "";
    display: table;
    clear: both;
  }
  .d-nextblog{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
 .d-nextblogtext{
    color: gray;
    /* float: right; */
 }
 .d-detaillikes{
    margin-right: 0px;
 }
 .d-likesharedetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
 }
 .d-likesharedetails p{
    display: flex;
    align-items: center;
 }
 .d-likesharedetails span{
    padding-left: 10px;
    font-weight: bold;
 }
 
 .d-commentsdetail p{
    display: flex;
    align-items: center;
    padding: 5px;
 }
 .d-commentsdetail span{
    padding-left: 10px;
    font-weight: bold;
 }
 textarea{
    height: 75px;
    width: 98%;
    color:  rgb(74, 191, 230);
    border: 1px solid rgb(74, 191, 230);
    padding: 10px;
    font-style: italic;
 }
 .d-showall p{
    text-align: center;
    color: rgb(96, 192, 231);
 }
 .d-showall p::before {
    content: "";
    display: block;
    width: 45%;
    height: 2px;
    background: lightgray;
    /* left: 60px;
    top: 50%;
    position: absolute; */
  }
  .d-showall p::after {
    content: "";
    display: block;
    float: right;
    width: 45%;
    height: 2px;
    background: lightgray;
    /* left: 60px;
    top: 50%;
    position: absolute; */
  }
 .d-yammer{
    color: rgb(74, 194, 233);
 }
 .d-firstcomment{
    background-color: #f1f1f1;
    margin-top: 10px;
 }
 .d-commentpost{
    display: flex;
    padding: 20px;
 }
 .d-userdetails{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
 }
 .d-userdetails h6{
    margin-top: 0px;
    margin-bottom: 0px;
 }
 .d-userdetails p{
    margin-top: 5px;
    margin-bottom: 1px;
 }
 .d-sharemore a{
    padding-right: 10px;
    text-decoration: none;
 }
 .d-sharemore span {
    padding-left: 15px;
    color: gray;
 }
 .d-articledetails{
    margin-top: 20px;
    background-color: #f1f1f1;
 }
 .d-jonesdiv{
    display: flex;
 }
 .d-jonedetails{
    padding-left: 10px;
    padding-right: 150px;
 }
 .d-jonesdiv img{
    margin-top: 20px;
    margin-left: 20px;
 }
 .d-jonedetails h3{
    margin-top: 30px;
 }
 .d-jamesdiv{
    display: flex;
 }
 .d-jamesdetails{
    padding-left: 10px;
 }

/*footer*/
.d-cardscolumn {
    float: left;
    width: 40%;
    padding: 0 10px;
    /* background-color: white; */
 }
  /* Responsive columns */
  
  @media screen and (max-width: 992px) {
    .d-cardscolumn {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
 .d-cardsrow {
    margin: 15px;
    margin-left: 15%;
    margin-right: 0px;
    display: flex;
 }
 @media screen and (max-width: 992px) {
    .d-cardsrow {
        margin: 15px;
        margin-left: 2%;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
    }
    .d-cardscard {
        padding: 30px;
        background-color: white;
      }
  }
 .d-cardsrow:after {
    content: "";
    display: table;
    clear: both;
  }
 .d-cardscategoryone{
    background-color: rgb(194, 173, 238);
    color: rgb(98, 59, 214);
    padding: 5px;
  }
  .d-cardscategorytwo{
    background-color: rgb(238, 173, 173);
    color: rgb(214, 54, 54);
    padding: 5px;
  }
  .d-cardsimg{
    border-block: 1px solid rgb(206, 195, 195);
    border-left: 1px solid rgb(206, 195, 195);
    border-right: 1px solid rgb(206, 195, 195);
    padding: 2px;
  }
  
  .d-cardspost {
    display: flex;
    justify-content: space-between;
  }
  .d-cardsheading{
   float: left;
   margin-top: 0px;
   margin-bottom: 0px;
  }
  .d-cardsdescription{
    margin-top: 30px;
  }
  .d-nextimg {
    float: right;
 }
 .d-likeshare{
    margin-top: 20px;
 }

  /* Style the counter cards */
.d-cardscard {
    padding: 10px;
    background-color: white;
  }
  .d-footer{
    background-color: #f1f1f1;
    padding: 50px;
    margin-top: 50px;
  }
  .d-footer h2{
    text-align: center;
  }